@import "./utilities";

#about {
  .sub-section {
    @extend %flex-container-row;
    justify-content: space-between;
  }

  article {
    @extend %flex-container-column;
    height: 100%;
    padding-right: 50px;
  }

  h3 {
    padding-top: 50px;
    text-align: justify;
    font-size: 30px;
    color: $dark-grey;
  }

  p {
    padding-top: 50px;
    text-align: justify;
    font-size: 20px;
  }

  img {
    height: 100%;
  }
}