@import "./utilities";

#about {
  .container {
    @extend %flex-container-row;
    justify-content: space-between;
  }

  article {
    @extend %flex-container-column;
    justify-content: space-evenly;
    width: 50%;
  }

  img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: $light-grey solid 1px;
    border-radius: 5%;
    width: 40%;
    height: auto;
  }
}
