@import-normalize;
@import "./utilities.scss";
@import "./navbar.scss";
@import "./about-me.scss";
@import "./my-work.scss";
@import "./skills.scss";
@import "./contact.scss";

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %flex-container-column;
  height: 100vh;
  width: 100vw;
}

.section {
  @extend %flex-container-column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.sub-section {
  @extend %flex-container-column;
  height: 60%;
  width: 50%;
}

#mywork,
#contact {
  background-color: $off-white;
}

.title {
  @extend %bold-font;
  font-size: 60px;
  color: $green;
  &:after {
    content: "";
    display: block;
    width: 100px;
    border-bottom: 5px solid $orange;
    padding: 5px;
  }
}

.heading {
  text-align: justify;
  font-size: 20px;
  color: $dark-grey;
  line-height: 150%;
}

.content {
  text-align: justify;
  font-size: 16px;
  line-height: 150%;
}

.appear-right {
  animation: show-right 1s ease;
  @keyframes show-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.appear-left {
  animation: show-left 1s ease;
  @keyframes show-left {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.fade {
  animation: fade 0.3s ease-in;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 2000px) {
  .sub-section {
    height: 70%;
    width: 70%;
  }

  .title{
    font-size: 40px;
  }

  .heading {
    font-size: 18px;
  }
}
