@import-normalize;
@import "./utilities.scss";
@import "./navbar.scss";
@import "./about-me.scss";

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

body {
  @extend %flex-container-column;
  height: 100%;
}

section {
  height: 100vh;
}

#timeline,
#skills {
  background-color: $off-white;
}
