@import-normalize;
@import "./utilities.scss";
@import "./navbar.scss";
@import "./about-me.scss";
@import "./my-work.scss";
@import "./skills.scss";
@import "./contact.scss";
@import "./home.scss";
@import "./interests.scss";
@import "./footer.scss";

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @extend %flex-container-column;
  height: 100vh;
  width: 100vw;
}

.section {
  @extend %flex-container-column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.title {
  @extend %bold-font;
  font-size: 1.9rem;
  max-width: 60ch;
  color: black;
  &:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 0.3rem solid $orange;
    padding: 0.1rem;
  }
}

.heading {
  text-align: justify;
  font-size: 1.1rem;
  color: $dark-grey;
  line-height: 150%;
  max-width: 60ch;
}

.content {
  text-align: justify;
  line-height: 150%;
  max-width: 60ch;
}

.appear-right {
  animation: show-right 1s ease;
  @keyframes show-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.appear-left {
  animation: show-left 1s ease;
  @keyframes show-left {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.swipe-right {
  animation: swipe-right 0.55s ease-in;
  @keyframes swipe-right {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

.swipe-left {
  animation: swipe-left 0.55s ease-in;
  @keyframes swipe-left {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 128%;
  }
}

