@import "./utilities";

#interests {

  article {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 0 0;
  }

  h3 {
    padding: 0.5rem 0 0 0;
  }

  a {
    text-decoration: none;
  }

  .interest-url {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 1.5rem;
    color: $dark-grey;
    transition: 0.3s;
    &:hover {
      color: $orange;
    }

    figcaption {
      @extend %bold-font;
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  #interests {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
    }

    article {
      width: 50%;
      &:nth-child(odd){
      padding-right: 5%;
      }
      &:nth-child(even){
        padding-left: 5%;
        }
    }

  }
}

@media only screen and (min-width: 1024px) {
  #interests {
    #interests-sub-section {
      width: 70%;
    }
  }
}
