@import "./utilities";

#mywork {

  #mywork-sub-section {
    @extend %flex-container-column;
    height: 90%;
    width: 90%;
    align-items: center;
  }

  .container{
    @extend %flex-container-column;
    align-items: center;
  }

  article{
    @extend %flex-container-column;
  }

  img {
    max-width: 100%;
    width: 40%;
    height: auto;
    align-self: center;
  }
}

    img {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border: $light-grey solid 1px;
      width: 80%;
    }