@import "./utilities";

header {
  @extend %flex-container-column;
  height: 3.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  animation: header-appear 1.2s ease;
  z-index: 1;

  @keyframes header-appear {
    0% {
      height: 0rem;
    }
    100% {
      height: 3rem;
    }
  }


#navbar {
  @extend %flex-container-row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#menu {
  @extend %flex-container-column;
  align-items: flex-start;

  h6 {
    color: white;
    font-size: 1em;
  }

  ul {
    position: absolute;
    top: 100%;
    width: auto;
    display: none;
  }

  .display-mobile-menu {
    @extend %flex-container-column;
    background-color: rgba(0, 0, 0, 0.8);

    li {
      padding: 0.25em;
    }
  }
}

#links {
  @extend %flex-container-row;

  ul {
    @extend %flex-container-row;
    justify-content: space-between;
    width: 100%;
  }

  li{
    padding: 0 0 0 1rem;
  }

  .icon {
    font-size: 1.3rem;
  }
}


a, h6 {
  text-decoration: none;
  color: white;
  transition: 0.3s;
  animation: nav-appear 1.2s ease;
  &:hover {
    color: $orange;
  }
  @keyframes nav-appear {
    0% {
      color: transparent;
    }
    100% {
      color: white;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

span{
  padding: 0 0 0 0.5em;
}

.arrow {
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
}

.down {
  transform: rotate(45deg);
}

.right {
  transform: rotate(-45deg);
}

.hidden{
  display: none;
}

}