@import "./utilities";

#navbar {
  @extend %flex-container-row;
  background-color: black;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;

  a {
    @extend %bold-font;
    text-decoration: none;
    color: white;
    padding: 0 2%;

    &:hover {
      color: $orange;
    }
  }
}
