@import "./utilities";

#skills {
  #skills-list {
    @extend %flex-container-row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    article {
      @extend %flex-container-column;
      align-items: center;

      h3 {
        padding: 0 0 20px 0;
      }

      #list {
        @extend %flex-container-row;
        @extend %bold-font;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10px;
        background-color: $dark-grey;
        width: 300px;
        height: 400px;
        list-style: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

        .skill {
          @extend %flex-container-column;
          justify-content: center;
          align-items: center;
          padding: 0 30px;
          font-size: 50px;
          color: $orange;
          transition: 0.3s;
          &:hover {
            color: white;
          }

          figcaption {
            padding-top: 5px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
