@import "./utilities";

#skills {
  background-color: $off-white;

  #skills-sub-section {
    @extend %flex-container-column;
    height: 90%;
    width: 90%;
    align-items: center;
  }

  .container {
    @extend %flex-container-column;
    width: 100%;
  }

  #skill-set-block {
    @extend %flex-container-column;
    padding: 1.5rem 0 0 0;

    h3 {
      padding: 0 0 0.5rem 0;
    }
  }

  #skill-set-list {
    @extend %flex-container-row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $dark-grey;
    height: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .skill {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    color: $orange;
    transition: 0.3s;
    &:hover {
      color: white;
    }

    figcaption {
      font-size: 0.8rem;
    }
  }
}
