@import "./utilities";

#skills {
  .sub-section {
    @extend %flex-container-column;
  }

  #skills-list {
    @extend %flex-container-row;
    justify-content: space-evenly;

    article {
      @extend %flex-container-column;
      align-items: center;

      ul {
        @extend %flex-container-row;
        @extend %bold-font;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $dark-grey;
        width: 400px;
        height: 400px;
        list-style: none;
        padding: 0;
        color: $orange;

        li{
          padding: 0 30px;

          .skill{
            @extend %flex-container-column;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            &:hover{
              color: white;
            }

            span{
              padding-top: 5px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
